main{
    height: 75vh;
    display: flex;
    justify-content: center;
}
.alunos-icon{
    position: absolute;
    left: 18vw;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: "alunos icons";
    width: 70vw;
    margin-top: 4vh;
}
.title{
    grid-area: alunos;
    display: flex;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    padding-top: 2%;
    font-weight: bold;
}
.icons{
    grid-area: icons;
    display: flex;
    font-size: 2.5rem;
    align-self: center;
    justify-self: center;
    gap: 60px;
    padding-top: 2%;
    color: #073f5c;   
}
.card-container{
    height: 50%;
    width: 80%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow-y: scroll;
}
.card{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "foto nome-matricula";
    width: 12vw;
    height: 10vh;

    background-color: #D9D9D9;
}
.nome-matricula{
    grid-area: nome-matricula;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.card-matricula{
    justify-self: center;
}
.card i{
    grid-area: foto;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
    
}