main{
    height: 75vh;
}
.card__container{
    height: 100%;
    gap: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "icon"
    "text";
    height: 22vh;
    width: 15vw;
    background-color: #C6C6C6;
    transition: .7s;

}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #2884B2;
    color: #ffffff;
}

.card i{
    align-self: center;
    justify-self: center;
    grid-area: icon;
    font-size: 4rem;
    color: #8A8A8A;
    transition: .7s;
}
.card:hover i{
    color: #fff;
}

.card span{
    align-self: center;
    justify-self: center;
    grid-area: text;
    color: #8A8A8A;
    font-weight: 700;
    transition: .7s;
}

.card:hover span {
    color: #ffffff;
}